@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */
:root
{
    --primary: #aa00e2 ;
    --secondary: #5f117e ;
    --dark: #731777 ;
    --light: #f4f4f4 ;
    --success: #5cb85c;
    --danger: #d9534f;
}
    body {
        margin:0;
        box-sizing: border-box;

    }

    h1 {
        FONT-FAMILY: 'monospace';
        font-size: 87px;
        font-weight:bolder;
        z-index: 1;
        letter-spacing: 2px;
        font-size:48px;
    }

    h1, a{
        text-decoration: none;
        color: white;
        text-shadow: #333333;
        position: relative;
    }

    p {
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-size: 11px;
        color: #FFFF;
    }

    .header {
        position:relative;
        text-align:center;
        background: rgb(170,0,226);
        background: linear-gradient(90deg, rgba(170,0,226,1) 0%, #aa00e2 43%,  rgba(170,0,226,1) 100%);
        color:white;
        
    }

    .inner-header {
        height:50vh;
        width:100%;
        margin: 0;
        padding: 0;
    }

    .button-acces {
        height: 40px;
        margin: -45px 0;
        position: relative;
    }

    .button-acces a, i{
        font-size: 70px;
        margin: 0;
    }



    .button-acces i:active{
        opacity: 0.6;
        -webkit-animation:spin 0.2s linear infinite;
        -moz-animation:spin 0.2s linear infinite;
        animation:spin 0.2s linear infinite;
    }
    
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
    }

    .content-site{
        background: white;
        display: flex;
        flex-wrap: wrap;
        position:relative;

    }


#container {
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	filter: url(#threshold) blur(0.6px);
}

#text1, #text2 {
    font-family: 'Raleway', sans-serif;
    font-size: 80pt;
    text-align: center;
    align-items: center;
    position: absolute;
}

    .flex { 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .waves {
        position:relative;
        width: 100%;
        height:20vh;
        margin-bottom:-7px; 
        min-height:100px;
        max-height:150px;
        
    }

    .content {
        position:relative;
        height:20vh;
        text-align:center;
        
    }

    /* Animation */

    .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

    @keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
    }

    /* mobile*/
    @media (max-width: 768px) {
    .waves {
        height: 30vh;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:44px;
    }
}

